.add__cart{
    font-size: 1.2rem;
    padding: 5px;
    background: #2e2b27;
    color: #fff;
    border-radius: 1px;
    margin-left: 1rem;
}


@media (max-width: 912px) /* surface pro 7 */ {

}

@media (max-width: 820px) /* ipad air */ {

}

@media (max-width: 768px) /* ipad mini */ {

}

@media (max-width: 540px) /* surface duo */ {
    .container .row .col-lg-12 #desc {
        display: none;
    }
    #desc_item {
        display: none;
    }
}

@media (max-width: 430px) /* iphone 14 pro max*/ {
    .table {
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
    }
    .table tr #name_item {
        position: absolute;
        left: -0px;
        margin-top: 2px;
        border: none;
    }
    .table tr td img {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .table tr td .product__rating {
        margin-top: 50px;
    }
    .table tr #item_price {
        margin-top: 50px;
    }
    .table tr td .nav__icons{
        position: absolute;
    }
    .table tr td .nav__icons i {
        margin: 0;
    }
    .table tr td .nav__icons .ri-add-box-line {
        margin-top: 20px;
        left: -10px;
        width: 30px;
        height: 30px;
        position: relative;
    }
    .table tr td .nav__icons .ri-delete-bin-line {
        top: 60px;
        position: relative;
        left: 30px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 414px) /* iphone xr */ {
    .table {
        margin-left: 15px;
    }
}

@media (max-width: 412px) /* samsung galaxy a51 and S20 ultra and pixel 7*/ {

}

@media (max-width: 390px) /* iphone 12 pro */ {
    .table {
        margin-left: 5px;
    }
}

@media (max-width: 375px) /* iphone SE*/ {
    .table {
        margin-left: -5px;
    }
}

@media (max-width: 360px) /* samsung galaxy S8+*/ {
    .table {
        margin-left: -15px;
    }
    .container .row .col-lg-3 img {
        width: 320px;
    }
}

@media (max-width: 280px) /* samsung galaxy fold */ {

}